/** 
Escribir el CSS necesario aqui
*/
/**p{
	margin: 50px orange;
	padding:5px;
	border:dashed;
	width: 500px;
	text-align:center;

}
div{
	background:orange;
	height:400px;
}
*/

div {
  height: 70px;
  width: 700px;
  border:solid #8000FF;
  border-top-width:10px;
  border-right-width:4px;
  border-bottom-width:10px;
  border-left-width:4px; 
  background:#F5BCA9;
  overflow:hidden;
  padding:2px 2px 5px 10px;
}


p {
  width:500px;
  border: 1px dashed ;
  text-align:center;
  background-color: white;
  float:right;
  margin:2px 2px 50px 10px;
}
