
div {
  border:solid #8000FF;
  border-width: 10px 5px;
  background:#F5BCA9;
  padding:20px 25px 30px 300px;
}


p {
  border: 1px dashed green;
  text-align:center;
  background-color: white;
  margin:2px 10px;
  font-size: 10px;
  padding: 10px;
}
